{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ category }} category{% endblock %}

{% block content %}
<h2>{{ CATEGORY_TITLES[category] }}</h2>


<div class="list-article">
{% for article in articles %}
{% if article.category == category %}
  <!-- only print date if last article was in a different month -->
  <div class="list-article-entry">
  {% if loop.index == 1 or article.date.strftime('%b') != articles[loop.index - 2].date.strftime('%b') %}
    <div class="list-date">{{ article.date.strftime('%b ‘%y') }}</div>
  {% else %}
    <div class="list-date"></div>
  {% endif %}
    <div class="list-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
  </div>
{% endif %}
{% endfor %}
</div>


{% endblock %}
