{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ category }} category{% endblock %}

{% block content %}
<h2>{{ CATEGORY_TITLES[category] }}</h2>


<div class="list-article">
{% for article in articles %}
{% if article.category == category %}
	<!-- abbreviate the date to, e.g. Jul '24 -->
	<div class="list-article-entry">
		<div class="list-date">{{ article.date.strftime('%b ‘%y') }}</div>
		<div class="list-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
	</div>
{% endif %}
{% endfor %}
</div>


{% endblock %}
